<fieldset>
	<legend>
		Zeitspanne
	</legend>
	<row>
		<label for="startPathDate">von</label>
		<input type="text" class="start date startPathDate" name="startDate" id="startDate" />
		<input type="text" class="start time startPathTime" name="startTime" id="startTime" />
	</row>
	<row>
		<label for="startPathDate">bis</label>
		<input type="text" class="end date endPathDate" name="endDate" id="endDate" />
		<input type="text" class="end time endPathTime" name="endTime" id="endTime" />
	</row>
</fieldset>