<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>EasyCab map</title>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAsz3V9X_fTjwe-TzHtuA16-wjMZ71a7gY&sensor=false"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script src="{% static "mqttws31.js" %}"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{% static "easycab.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "easycab.css" %}">
</head>
<body>
	<div id="menu">
		<select class="displayFilter">
			<option value="showAll">Alle anzeigen</option>
			<option value="showActive">Aktive Fahrzeuge anzeigen</option>
			<option value="showInactive">Inaktive Fahrzeuge anzeigen</option>
		</select>
		<div id="accordion">
			{% for choice in object_list %}
			<h3 class="car{{ choice.name }}">{{ choice.name }}</h3>'
			<div class="car{{ choice.name }}">
			<table>
				<tbody>
					<tr class="time">
						<th>Time</th>
						<td data-key="time"></td>
					<tr>
					<tr class="driver">
						<th>Driver</th>
						<td data-key="driver"></td>
					<tr>
					<tr class="position">
						<th>Position</th>
						<td>
							<span data-key="gps.latitude"></span>, 
							<span data-key="gps.longitude"></span>
						</td>
					<tr>
				</tbody>
			<table>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="map"></div>
</body>
</html>


