<!DOCTYPE html>{% load staticfiles %}{% load markers %}{% marker 'static/img/marker-template-active.png' text='42' text_x=3 text_y=3 opacity=0.5 hue=105 text_colour='333333' %}{% marker 'static/img/marker-template-inactive.png' text='42' text_x=3 text_y=3 opacity=0.5 hue=105 text_colour='333333' %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>EasyCab map</title>
    <link href="{% static "icon/apple-touch-icon.png" %}" rel="apple-touch-icon" />
    <link href="{% static "icon/apple-touch-icon-76x76.png" %}" rel="apple-touch-icon" sizes="76x76" />
    <link href="{% static "icon/apple-touch-icon-120x120.png" %}" rel="apple-touch-icon" sizes="120x120" />
    <link href="{% static "icon/apple-touch-icon-152x152.png" %}" rel="apple-touch-icon" sizes="152x152" />
    <link href="{% static "icon/apple-touch-icon-180x180.png" %}" rel="apple-touch-icon" sizes="180x180" />
    <link href="{% static "icon/icon-hires.png" %}" rel="icon" sizes="192x192" />
    <link href="{% static "icon/icon-normal.png" %}" rel="icon" sizes="128x128" />
    <link rel="icon" href="{% static "icon/favicon.ico" %}" type="image/x-icon; charset=binary" />
	<link rel="stylesheet" type="text/css" href="{% static "css/easycab.css" %}">
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAsz3V9X_fTjwe-TzHtuA16-wjMZ71a7gY&libraries=places"></script>
	<script src="{% static "js/mqttws31.js" %}"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
	<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/mode-cfb-min.js"></script>
	<script src="{% static "js/jquery.geocomplete.js" %}"></script>
	<script src="{% static "js/datepair.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.datepair.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/jquery.timepicker.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/easycab-util.js" %}"></script>
	<script src="{% static "js/easycab.js" %}"></script>
</head>
<body>
	<div id="menu">
		<a class="btn" target="_blank" id="adminLink">Administration</a>
		<input type="text" class="placeSearch" id="startPoint" data-title="Start" placeholder="Start-Ort eingeben" />
		<input type="text" class="placeSearch" id="endPoint" data-title="Ziel" placeholder="Ziel-Ort eingeben" />
		<div id="routeWindow">
			<div id="routeWindowHeader">
				Route von <span class="start"></span> nach <span class="end"></span>
				<img src="{% static "img/button-close.png" %}" class="btnClose" />
			</div>
			<div id="routeDisplay"></div>
		</div>
		<select class="displayFilter">
			<option value="showAll">Alle anzeigen</option>
			<option value="showActive">Aktive Fahrzeuge anzeigen</option>
			<option value="showInactive">Inaktive Fahrzeuge anzeigen</option>
		</select>
		<div id="accordion">
		</div>
	</div>
	<div id="map"></div>
</body>
</html>


