body { 
	font: normal 10pt Verdana, Helvetica, Arial; 
	margin: 0;
	border: 0;
	padding: 0;
}

#map { 
	width: 1280px;
	height: 800px;
	border: 0;
	padding: 0;
}

#menu {
	background-image: url(../img/logo.png);
	background-position: 5px 25px;
	background-repeat: no-repeat;
    width: 280px;
    padding-top: 150px;
    display: block;
    float: right;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.btn {
	font-size: 1.2em;
	text-decoration: none;
	padding-left: 2em;
	padding-right: 2em;
}

#accordion h3, a.btn {
	cursor: pointer;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: .5em;
	border: 2px solid #315aa6;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ); /* IE6-9 */
}

#accordion h3 {
	border: 2px solid #315aa6;
	color: #f7de94;
	background: #315aa6; /* Old browsers */
	background: -moz-linear-gradient(top,  #194184 0%, #315aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#194184), color-stop(100%,#315aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #194184 0%,#315aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #194184 0%,#315aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #194184 0%,#315aa6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #194184 0%,#315aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ); /* IE6-9 */
}

#accordion h3.active {
	border: 2px solid #315aa6;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ); /* IE6-9 */
}

#accordion table {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	border-collapse: collapse;
}

#accordion table td,
#accordion table th {
	border: 0;
	margin: 0;
	padding: .5em;
	border-bottom: 2px solid #315aa6;
}

#accordion table th {
	text-align: right;
	background-color: #315aa6;
	color: #f7de94;
}

#accordion select {
	background-color: #f8d360;
    width: 100%;
    color: #315aa6;
    font-size: 1em;
    font-family: verdana;
}

.displayFilter {
	font-size: 2em;
    width: 100%;
    margin-bottom: .5em;
}

.ui-accordion-header-icon {
	background: url(../img/arrows-inactive.png) -24px 0;
	background-repeat: no-repeat;
	margin: -2px 0 0 0;
	padding: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
}

h3.active .ui-accordion-header-icon {
	background: url(../img/arrows.png) -24px 0;
}

.ui-accordion-header-active .ui-accordion-header-icon {
	background-position: -49px 0;
}

h3.active.ui-accordion-header-active .ui-accordion-header-icon {
	background-position: -49px 0;
}

#accordion table td {
	color: #315aa6;
	border-right: 2px solid #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ); /* IE6-9 */
}

#resetView {
	position: absolute;
	top: 0;
	right: 0;
}

/* #### Mobile Phones Portrait #### */
@media screen and (orientation: portrait){

	#menu {
		background-position: 5px 5px;
		background-repeat: no-repeat;
		background-size: 30%;
		width: 100%;
		padding-top: 60px;
		display: block;
	}
}