body, select, input { 
	font: normal 9pt Verdana, Helvetica, Arial;
	margin: 0;
	border: 0;
	padding: 0;
}

table th {
	font-weight: normal;
}

#map { 
	width: 1280px;
	height: 800px;
	border: 0;
	padding: 0;
}

#menu {
	background-image: url(../img/logo.png);
	background-position: 5px 25px;
	background-repeat: no-repeat;
    width: 280px;
    padding-top: 150px;
    display: block;
    float: right;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a.btn {
	font-size: 1.2em;
	text-decoration: none;
	padding-left: 2em;
	padding-right: 2em;
}

#accordion h3, a.btn {
	cursor: pointer;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: .5em;
	border: 2px solid #315aa6;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */
}

#accordion h3 {
	font-weight: normal;
}

#accordion h3,
#routeWindowHeader {
	border: 2px solid #315aa6;
	color: #f7de94;
	background: #315aa6; /* Old browsers */
	background: -moz-linear-gradient(top,  #194184 0%, #315aa6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#194184), color-stop(100%,#315aa6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #194184 0%,#315aa6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #194184 0%,#315aa6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #194184 0%,#315aa6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #194184 0%,#315aa6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */
}

#accordion h3.active {
	border: 2px solid #315aa6;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */
}

#accordion table {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	border-collapse: collapse;
}

#accordion table td,
#accordion table th {
	border: 0;
	margin: 0;
	padding: .5em;
	border-bottom: 2px solid #315aa6;
}

#accordion table th {
	text-align: right;
	background-color: #315aa6;
	color: #f7de94;
	font-weight: normal;
}

#accordion table td {
	width: 16em;
}

#accordion select {
	background-color: #f8d360;
    width: 100%;
    color: #315aa6;
    font-size: 1em;
    font-family: verdana;
}

#accordion .pathForm {
	background-color: #315aa6;
	color: #f7de94;
	padding: .5em;
}

#accordion .pathForm li {
	clear: both;
	margin-bottom: 1px;
}

#accordion .pathForm li.dateRow {
	text-align: right;
	margin-right: -.5em;
}

#accordion .pathForm li.showPath {
	padding-bottom: .5em;
	height: 1.3em;
}

#accordion .pathForm li.showPath label {
	float: right;
	width: 14.5em;
}

#accordion .pathForm li.showPath input {
	float: right;
	margin-right: .5em;
}

#accordion .pathForm li.dateRow input {
	font: normal 10pt Verdana, Helvetica, Arial; 
	padding: .5em;
	margin: 0;
	width: 7.49em;
	border: 1px solid #315aa6;
	font-size: 1em;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */	
}

#accordion .pathForm li.dateRow input.date {
	margin-right: -5px;
}

#accordion .pathForm li.dateRow label {
	font-weight: normal;
}

.displayFilter {
	font-size: 1em;
    width: 100%;
    margin-bottom: .5em;
}

li.showRoute a {
	color: #f7de94;
    text-decoration: none;
    margin-left: 6em;
    padding-bottom: .5em;
    display: block;
}

li.showRoute a:hover {
    text-decoration: underline;
}

.placeSearch {
    margin: .4em 2%;
    padding: 0.7em 4%;
    width: 87%;
    border: 1px solid #ccc;
    border-collapse: separate;
}

#routeWindow {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	width: 30%;
	height: 50%;
    display: none;
    z-index: 1;
    border: 2px solid #194184;
    overflow: hidden;
    padding-bottom: 1.5em;
}

#routeWindowHeader {
    font-size: 1.2em;
    cursor: pointer;
    padding: .5em 2em .5em .5em;
    font-weight: normal;
    border: 0;
}

#routeWindowHeader .btnClose {
	position: absolute;
    right: .5em;
    top: .5em;
    height: 1.2em;
}

#routeDisplay {
    overflow: scroll;
    max-height: 100%;
}

.adp-marker {
	display: none;
}

.adp-placemark {
    display: none;
}

.adp-directions {
	cursor: default;
}

.ui-icon-gripsmall-diagonal-se {
	background: url(../img/resize-handle-se.png) 0 0;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	position: absolute;
    bottom: 0;
    right: 0;
}

.ui-accordion-header-icon {
	background: url(../img/arrows-inactive.png) -24px 0;
	background-repeat: no-repeat;
	margin: -2px 0 0 0;
	padding: 0;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
}

h3.active .ui-accordion-header-icon {
	background: url(../img/arrows.png) -24px 0;
}

.ui-accordion-header-active .ui-accordion-header-icon {
	background-position: -49px 0;
}

h3.active.ui-accordion-header-active .ui-accordion-header-icon {
	background-position: -49px 0;
}

#accordion table td {
	color: #315aa6;
	border-right: 2px solid #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */
}

#resetView {
	position: absolute;
	top: 0;
	right: 0;
}

/* Date Picker */

.ui-datepicker {
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	margin: 0;
	padding: .5em;
	color: #315aa6;
	border: 2px solid #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */	
}

.ui-datepicker-prev,
.ui-datepicker-next {
	height: 24px;
	width: 24px;
	cursor: pointer;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;
}

.ui-datepicker-prev {
	float: left;
	background: url(../img/arrows.png) -72px 0;
}

.ui-datepicker-next {
	float: right;
	background: url(../img/arrows.png) -24px 0;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 2em;
    margin-bottom: .2em;
}

table.ui-datepicker-calendar td,
table.ui-datepicker-calendar th {
	text-align: center;
	width: 2em;
	height: 2em;
	border: 2px solid #f7de94;
}

table.ui-datepicker-calendar td[data-handler=selectDay] {
	cursor: pointer;
}
table.ui-datepicker-calendar td[data-handler=selectDay] a {
	color: #315aa6;
	text-decoration: none;
}

table.ui-datepicker-calendar td[data-handler=selectDay].ui-datepicker-current-day {
	background: #315aa6;
}

table.ui-datepicker-calendar td[data-handler=selectDay].ui-datepicker-current-day a {
	color: #f7de94;
}


table.ui-datepicker-calendar td[data-handler=selectDay]:hover {
	background: #315aa6;
}

table.ui-datepicker-calendar td[data-handler=selectDay]:hover a {
	color: #f7de94;
}

table.ui-datepicker-calendar {
	border-collapse: collapse;
}

table.ui-datepicker-calendar thead th {
	color: #f7de94;
	background: #315aa6;
}

#ui-datepicker-div {
	display: none;
}

.ui-timepicker-wrapper {
    overflow-y: auto;
    height: 150px;
    width: 6.5em;
	border: 2px solid #315aa6;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    outline: none;
    z-index: 10001;
    margin: 0;
}

.ui-timepicker-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-wrapper li {
	margin: 0;
	padding: .5em;
	color: #315aa6;
	background: #f7de94; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7de94 0%, #f8d360 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7de94), color-stop(100%,#f8d360)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7de94 0%,#f8d360 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7de94 0%,#f8d360 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7de94', endColorstr='#f8d360',GradientType=0 ) /* IE6-9 */	
}

.ui-timepicker-wrapper li:hover,
li.ui-timepicker-selected {
	cursor: pointer;
	background: #315aa6;
	color: #f7de94;
}

.phone a,
.phone a:focus,
.phone a:hover {
	text-decoration: none;
	color: #315aa6;
}


/* #### Mobile Phones Portrait #### */
@media screen and (orientation: portrait){

	#menu {
		background-position: 5px 5px;
		background-repeat: no-repeat;
		background-size: 30%;
		width: 100%;
		padding-top: 60px;
		display: block;
	}
}