{% for taxi in object_list %}
<h3 class="car{{ taxi.name }}">{{ taxi.name }}</h3>
<div class="car{{ taxi.name }}">
	<table>
		<tbody>
			<tr class="time">
				<th>Time</th>
				<td data-key="time"></td>
			<tr>
			<tr class="driver">
				<th>Driver</th>
				<td data-key="driver"></td>
			<tr>
			<tr class="position">
				<th>Position</th>
				<td>
					<span data-key="gps.latitude"></span>, 
					<span data-key="gps.longitude"></span>
				</td>
			<tr>
		</tbody>
	<table>
	<input type="checkbox" id="showPath" />
	<label for="showPath">Pfad anzeigen</label>
	<ul class="path_form">
		<li>
			<label for="startPath">von</label>
			<input type="text" class="datePicker" id="startPath" />
		</li>
		<li>
			<label for="endPath">bis</label>
			<input type="text" class="datePicker" id="endPath" />
		</li>
	</ul>
</div>
{% endfor %}